/* Row-nowrap Item */

.row-nowrap {
    flex-flow: row nowrap;
}

/* Row-wrap Item */

.row-wrap {
    flex-flow: row wrap;
}

/* Column-nowrap Item */

.column-nowrap {
    flex-flow: column nowrap;
}

/* Column-wrap Item */

.column-wrap {
    flex-flow: column wrap;
}

/* Row-nowrap Item */

.column-wrap-reverse {

    flex-flow: column-reverse;
}

/* Container */

.container {
    max-width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

/* Flex Item */

.item {
    flex: 1;
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}
