/* Nowrap Item */

.nowrap {
    flex-wrap: nowrap;
}

/* Wrap Item */

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Container */

.container {
    max-width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

/* Flex Item */

.item {
    flex: 1;
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}
