/* Row Item */

.row {
    flex-direction: row;
}

/* Row-reverse Item */

.row-reverse {
    flex-direction: row-reverse;
}

/* Column Item */

.column {
    flex-direction: column;
}

/* Column-reverse Item */

.column-reverse {
    flex-direction: column-reverse;
}

/* Container */

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

/* Flex Item */

.item {
    flex: 1;
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    
}

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.5em;
    font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}
